server:
  port: 8082

spring:
  application:
    name: catalog-service

  datasource:
    url: jdbc:mysql://192.168.56.101:3306/catalog_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  cloud:
    consul:
      host: 192.168.56.101
      port: 8500
      discovery:
        register: true
        enabled: true
        prefer-ip-address: true
