server:
  port: 8081

spring:
  application:
    name: users-service

  datasource:
    url: jdbc:mysql://localhost:3306/usersdb?useSSL=false&serverTimezone=UTC
    username: taller
    password: taller123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
