spring:
  application:
    name: vehicles-service

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
        register: true

server:
  port: 0

management:
  endpoints:
    web:
      exposure:
        include: health,info
