server:
  port: 8083

spring:
  application:
    name: orders-service

  datasource:
    url: jdbc:mysql://localhost:33063/ordersdb?useSSL=false&serverTimezone=UTC
    username: taller
    password: taller123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
