spring:
  application:
    name: orders-service

  datasource:
    url: jdbc:mysql://localhost:3306/orders_db
    username: root
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
        register: true

server:
  port: 0
